{% extends "templates/index.html" %}

{% block header %}
<div id="header" class="text-center">
<h3>Try BioExcel Building Blocks workflows as interactive notebooks</h3>
<div id="explanation">
  This is an installation of BinderHub in EMBL-EBI where everyone can experiment with biobb notebooks in an executable environment.
</div>
</div>
{% endblock header %}

{% block how_it_works %}
  <div id="how-it-works">
    <h3 class="text-center">How it works</h3>

    <div class="row">
      <div class="col-md-1 col-md-offset-2 point-container">
        <span class="point point-orange">1</span>
      </div>
      <div class="col-md-7 front">
        <span class="front-em">Have you come here from <a target="_blank" href="https://mmb.irbbarcelona.org/biobb/workflows">the biobb worklows page</a>?</span><br />If not, better start there and launch your notebook, by clicking “Execute in Binder for biobb”. If this is, what you have just done, keep on reading.

      </div>
    </div>

    <div class="row">
      <div class="col-md-1 col-md-offset-2 point-container">
        <span class="point point-red">2</span>
      </div>
      <div class="col-md-7 front">
        <span class="front-em">We ask you to log in with your Github account.</span><br />We will use your username information exclusively to distinguish unique users from one another.
Binder for biobb is a small installation and to promote fair use of our resources, one user is allowed to run only one notebook server at a time. Launching a new notebook server should stop the previous one.
Users cannot see the notebooks run by other users, but please avoid entering secret data to the notebooks.
      </div>
    </div>

    <div class="row">
      <div class="col-md-1 col-md-offset-2 point-container">
        <span class="point point-blue">3</span>
      </div>
      <div class="col-md-7 front">
        <span class="front-em">Interact with biobb notebooks in a live environment!</span><br />Remember that a notebook session is short-lived and the results are not permanent. Experiment freely, but expect that your session might be ended after some time and results lost.
      </div>
    </div>
  </div>
  {% endblock how_it_works %}